#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>
# Released under GNU AGPL v3 license
#

###################################################################################################
#     CUSTOM TITLES MODULE CONFIGURATION
###################################################################################################

#
#    CustomTitles.Enable
#        Description: Enable the Custom Titles module
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.Enable = 1

#
#    CustomTitles.AnnounceModuleOnLogin
#        Description: Show message that Custom Titles module is enabled when player logs in
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.AnnounceModuleOnLogin = 1

#
#    CustomTitles.ServerAnnouncement
#        Description: Broadcast server-wide announcement when player receives a title
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.ServerAnnouncement = 1

#
#    CustomTitles.SendMail
#        Description: Send congratulations mail to player when they receive a title
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.SendMail = 1

###################################################################################################
