#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>
# Released under GNU AGPL v3 license
#

###################################################################################################
#     CUSTOM TITLES MODULE CONFIGURATION
###################################################################################################

#
#    CustomTitles.Enable
#        Description: Enable the Custom Titles module
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.Enable = 1

#
#    CustomTitles.AnnounceOnLogin
#        Description: Announce custom title on player login
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.AnnounceOnLogin = 1

#
#    CustomTitles.ShowInChat
#        Description: Show custom title in chat messages
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.ShowInChat = 1

#
#    CustomTitles.ShowAboveHead
#        Description: Show custom title notification above player head
#        Default:     1 (enabled)
#                     0 (disabled)

CustomTitles.ShowAboveHead = 1

###################################################################################################
